.ILD-contact{
    display: grid;
    text-align: center;
    justify-items: center;
    padding-top: 170px;
    padding-bottom: 150px;

    &-infinity{
        font-size: 120px;
        font-weight: bold;
        padding-bottom: 40px;
    }

    &-text{
        padding-bottom: 40px;

        &-Lorem{
            display: block;
            padding-bottom: 10px;
           
        }
    }

    &-email input{
        color: gainsboro;
        width: 300px;
        padding-top: 17px;
        padding-bottom: 18px;
        padding-left: 12px;
        border-radius: 10px;

    }
    

}